* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  font-size: 50px;
  font-weight: 700;
}

h1 {
  font-size: 70px;
  font-weight: 900;
}
