.rates-container {
  position: relative;
  /* height: 100vh; */
  text-align: center;
}

.card {
  min-height: 200px;
}

@media (max-width: 992px) {
  .card {
    max-width: 26rem;
    margin: 20px auto;
  }
}
